*.npy
*.xz
*.png
*.ipynb_checkpoints

plotting
arxived
iros_media
data
tests
debug*
chester
datasets
*.avi
*.pkl
*__pycache__*
*tmp*
*.idea
*.DS_Store*
*egg-info*
*.vscode*

*.so*
*build

# third_party
wandb
submissions
plb/envs/arxived